<h1>Your Qoolife credentials, please</h1>

<form class="well form-inline" action="/login" method="POST">
  <input type="text" placeholder="Email" name="user_email">
  <input type="password" class="input-small" placeholder="Password" name="user_password">
  <button type="submit" class="btn">Go</button>
</form>